body {
  margin: 0px;
  font-family: "Roboto", sans-serif;
}
#full-wrap {
  height: 100%;
}
.head {
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.user-wrap {
  display: flex;
  margin-bottom: 20px;
  flex-wrap: wrap;
}
.user {
  /*tried to make so the hover doesn't flicker when changing from users*/
  border: rgba(0, 0, 0, 0.5) 10px solid;
  width: 200px;
  padding: 15px;
  cursor: pointer;
  margin: 0px;
}
.user-info-wrap {
  display: flex;
  margin: 10px;
  height: 100%;
}
.user-info-wrap > div {
  margin: 10px;
  background-color: aqua;
  width: 50%;
}
.user-info-left {
  display: flex;
  flex-direction: column;
}
.user-info-left > div {
  background-color: lightblue;
  border: black 1px solid;
  padding: 5px;
  height: 100%;
}
.user-info-scumread-who-users,
.user-info-townread-who-users {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.user-info-scumread-dropdown,
.user-info-townread-dropdown {
  border: 0px;
}
.scumread-user,
.townread-user {
  width: 90%;
  padding: 0px;
  margin: 0px 5px;
}
.user-info-scumread-who-header,
.user-info-townread-who-header {
  font-weight: 600;
  padding-left: 20px;
}
.notes-input,
.role-input {
  font-family: "Roboto", sans-serif;
  width: calc(100% - 40px);
  margin: 20px;
  border: 0px;
  padding: 0px;
}
.role-info,
.notes-info {
  margin: 20px 0px 0px 20px;
}
.notes-input {
  height: 400px;
}
.role-wrap,
.align-wrap {
  display: flex;
  align-items: center;
}
.role-input {
  height: 2rem;
  font-size: 1rem;
  margin-bottom: 0;
}
.align-wrap {
  margin: 20px 0px 0px 20px;
}
.align-dropdown {
  margin-left: 20px;
}
