body {
  margin: 0px;
  font-family: "Roboto", sans-serif;
}
.cross {
  position: absolute;
  z-index: 2;
}
#full-wrap {
  height: 100%;
}
.head {
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.user-wrap {
  display: flex;
  margin-bottom: 20px;
  flex-wrap: wrap;
}
.user {
  border: rgba(0, 0, 0, 0.5) 5px solid;
  width: 200px;
  height: 200px;
  padding: 15px;
  cursor: pointer;
  margin: 10px;

  background-size: 200px 200px;
  background-repeat: no-repeat;
  background-position: center;
}
@media (max-width: 537px) {
  .user-wrap {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
  .user {
    border: rgba(0, 0, 0, 0.5) 5px solid;
    width: 29vw;
    height: 29vw;
    background-size: 29vw;
    padding: 4vw;
    border: rgba(0, 0, 0, 0.5) 2vwvw solid;
    cursor: pointer;
    margin: 10px;
  }
  .user-info-wrap {
    flex-direction: column;
  }
  .user-info-wrap > .user-info-left,
  .user-info-wrap > .user-info-right {
    width: 100%;
    margin: 0px 20px 20px 0px;
  }
  .user-info-main div {
    font-size: 2rem;
  }
}
.user-info-wrap {
  display: flex;
  margin: 10px;
  height: 100%;
}
.user-info-wrap > div {
  margin: 10px;
  background-color: aqua;
  width: 50%;
}
.user-info-main {
  text-align: center;
  border-top: 5px;
  border-bottom: 5px;
  border-right: 0px;
  border-left: 0px;
  border-color: black;
  border-style: solid;
  margin-bottom: 20px;
  font-size: 3rem;
}
.user-info-left {
  display: flex;
  flex-direction: column;
}
.user-info-left > div {
  background-color: lightblue;
  border: black 1px solid;
  padding: 5px;
  height: 100%;
}
.user-info-scumread-who-users,
.user-info-townread-who-users {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.user-info-scumread-dropdown,
.user-info-townread-dropdown {
  border: 0px;
}
.scumread-user,
.townread-user {
  width: 90%;
  padding: 0px;
  margin: 0px 5px;
}
.user-info-scumread-who-header,
.user-info-townread-who-header {
  font-weight: 600;
  padding-left: 20px;
}
.notes-input,
.role-input {
  font-family: "Roboto", sans-serif;
  width: calc(100% - 40px);
  margin: 20px;
  border: 0px;
  padding: 0px;
}
.role-info,
.notes-info,
.alive-info {
  margin: 20px 0px 0px 20px;
}
.alive-check {
  margin: 20px 0px 0px 20px;
  width: 20px;
  height: 20px;
}
.notes-input {
  height: 400px;
}
.role-wrap,
.align-wrap,
.alive-wrap {
  display: flex;
  align-items: center;
}
.role-input {
  height: 2rem;
  font-size: 1rem;
  margin-bottom: 0;
}
.align-wrap {
  margin: 20px 0px 0px 20px;
}
.align-dropdown {
  margin: 0px 20px;
  width: 100%;
  border: 0px;
  height: 30px;
  font-family: "Roboto", sans-serif !important;
}
.game-info-textarea {
  width: 100%;
  height: 400px;
  font-family: "Roboto", sans-serif !important;
}
.game-info-wrap {
  width: calc(100% - 40px);
  margin: 0px 20px 20px 20px;
}
